body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  
    
}


.scoreboard {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
  
}

.time-controls {
    margin-bottom: 20px;
}

.team-controls {
    display: flex;
    justify-content: space-between;
}

.team {
    width: 45%;
  
}

button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
buttonPer {
    display: block;
    margin: 5px 10;
    margin-right:10px;
    margin-left:10px;
    padding: 5px;
    width: 10%;
    background-color:  #0400b3;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
buttonFaul {
    display: block;
    
    margin: 5px;
    padding: 5px;
    width: 80%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  
}
buttonGolplus {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    background-color: #2CCD16;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
buttonGolMenos {
    display: block;
    margin: 10x 0;
    padding: 10px;
    width: 80%;
    background-color: #CD1616;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
buttonStarStop {
  display: block;
  background-color: #B52121; /* Red */
  border: none;
  color: white;
  padding: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 40%;
}
buttonBocina {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

button:hover {
    background-color: #0056b3;
}

#Display {
    margin-top: 10px;
    font-size: 20px;
    font-family:serif;
    font-variant-numeric:darken;
    padding: 5px;
    border: 10px;
    
    
}
#timeDisplay {
    margin-top: 10px;
    font-size: 2.2em;
    font-family:sans-serif;
    font-variant-numeric:darken;#timeDisplay {
    margin-top: 10px;
    font-size: 2.2em;
    font-family:sans-serif;
    font-variant-numeric:darken;
    
}
    
}

#goals {
    margin-top: 10px;
    font-size: 1.2em;
    font-family:sans-serif;
    font-variant-numeric:darken;
  font-color:greenyellow;
    
}

.goals {
    font-size: 18px; /* Change font size */
    color: green; /* Change text color */
}

.fouls {
    font-size: 18px; /* Change font size */
    color: blue; /* Change text color */
}
.periodo {
  font-family:system-ui;
  font-size: 20px;
  font-style:bold;
  width: 100%;
  display: flex;
  align-items: center;
}

.contador {
            display: flex;
            align-items: center;
            justify-content: center;
        }


.button-image {
    display: flexbox; /* Usa flexbox para alinear contenido */
    align-items:center; /* Alinea el contenido verticalmente al centro */
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 0px 1px;
    font-size: 5px;
    cursor: pointer;
    
    text-align: left;
    transform: scale(0.7);
    
   
}
