@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  
    
}


.scoreboard {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
  
}

.time-controls {
    margin-bottom: 20px;
}

.team-controls {
    display: flex;
    justify-content: space-between;
}

.team {
    width: 45%;
  
}

button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:disabled {
     background-color: #ccc;
            cursor: not-allowed;
}
buttonPer {
    display: block;
    margin: 5px 10;
    margin-right:10px;
    margin-left:10px;
    padding: 5px;
    width: 10%;
    background-color:  #0400b3;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
buttonFaul {
    display: block;
    
    margin: 5px;
    padding: 5px;
    width: 80%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  
}
buttonGolplus {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    background-color: #2CCD16;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
buttonGolMenos {
    display: block;
    margin: 10x 0;
    padding: 10px;
    width: 80%;
    background-color: #CD1616;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
buttonStarStop {
  display: block;
  background-color: #B52121; /* Red */
  border: none;
  color: white;
  padding: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 40%;
}
buttonBocina {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

button:hover {
    background-color: #0056b3;
}

#Display {
    margin-top: 10px;
    font-size: 20px;
    font-family:serif;
    font-variant-numeric:darken;
    padding: 5px;
    border: 10px;
    margin-top:0; margin-bottom:0;
    
}
#timeDisplay {
    /*font-family: 'Orbitron', sans-serif;*/
    margin-top: 10px;
    font-size: 2em;
    font-family:sans-serif;
    font-variant-numeric:darken;#timeDisplay {
    margin-top: 10px;
    font-size: 2.2em;
    font-family:sans-serif;
    font-variant-numeric:darken;
    
}
    
}

#goals {
    margin-top: 10px;
    font-size: 1.2em;
    font-family:sans-serif;
    font-variant-numeric:darken;
  font-color:greenyellow;
    
}

.goals {
    font-size: 18px; /* Change font size */
    color: green; /* Change text color */
}

.fouls {
    font-size: 18px; /* Change font size */
    color: blue; /* Change text color */
}
.periodo {
  font-family:system-ui;
  font-size: 20px;
  font-style:bold;
  width: 100%;
  display: flex;
  align-items: center;
}

.contador {
            display: flex;
            align-items: center;
            justify-content: center;
        }


.button-image {
    display: flexbox; /* Usa flexbox para alinear contenido */
    align-items:center; /* Alinea el contenido verticalmente al centro */
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 0px 1px;
    font-size: 5px;
    cursor: pointer;
    
    text-align: left;
    transform: scale(0.6);
    
   
}

#timeInput {
            width: 100px; /* Ancho del input */
            padding: 10px; /* Espaciado interno */
            font-size: 12px; /* Tamaño del texto */
            color: #333; /* Color del texto */
            background-color: #f0f0f0; /* Color de fondo */
            border: 2px solid #ccc; /* Borde */
            border-radius: 5px; /* Bordes redondeados */
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
            transition: border-color 0.3s, box-shadow 0.3s; /* Transición para efectos suaves */
        }

        #timeInput:focus {
            border-color: #66afe9; /* Color del borde al enfocar */
            box-shadow: 0 0 8px rgba(102, 175, 233, 0.6); /* Sombra al enfocar */
            outline: none; /* Elimina el borde por defecto del navegador */
        }
.footer {
    display: flex;
    margin: 1px 0;
    margin-right:10px;
    margin-left:10px;
    padding: 10px;
    width: 90%;
    /*background-color:  #0400b3;*/
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

buttonTM {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    background-color: #191970;
    color:#191970
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

 #popup {
            display: none; /* Initially hidden */
            position: fixed;
            top: 50%;
            left: 50%;
            font-size:16px;
            transform: translate(-50%, -50%);
            width: 320px;
            padding: 20px;
            background-color: #D3D3D3;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            border-radius: 8px;
        }
        #popup h2 {
            margin: 0 0 10px;
        }
        #popup .circle {
           position: absolute;
	          left: 20px;
            top:10px;
            right:10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 10px solid #FFA500;
            background: conic-gradient(#FFA500 0% 0%, #fff 0% 100%);
        }
        #popup .time {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1em;
            font-weight: bold;
        }
        #popup buttonX {
           padding: 10px 20px;
            font-size: 1em;
            cursor: pointer;
            border: none;
            background-color: #FFA500;
            color: white;
            border-radius: 15px;
            transition: background-color 0.3s;
        }
        #popup button:hover {
            background-color: #FF8C00;
        }
        #popup button:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
        #button:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }

        #datetime {
            font-size: 0.8em;
            margin-bottom: 0px;
            color:blue;
            font-style:italic;
            pading: 1px;
            border:none;
           
            margin-top:0; margin-bottom:0;
        }